.navbar-main {
  font-family: $f-futura;
  color: $c-text-white;
  background-color: $c-primary-dark;
  z-index: 1000;
  a {
    color: $c-text-white;
    &:hover, &:focus {
      color: $color3;
    }
    &:active {
      color: $c-alternative;
    }
  }
  .navbar-brand {
    margin-right: 0;
    color: $c-text-white;
    &:hover, &:focus, &:active {
      color: $c-text-white;
    }
  }
  .nav-item {
    position: relative;
    &.active:after {
      content: '';
      width: 100%;
      height: .2rem;
      position: absolute;
      top: -.5rem;
      left: 0;
      background-color: $c-text-white;
    }
  }
  @media screen and (max-width: 719px) {
    padding: 0;
    justify-content: center;
    .navbar-bottom {
      width: 100vw;
      height: auto;
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: stretch;
      background-color: inherit;
      .nav-item {
        flex: 1 0 auto;
        text-align: center;
        &.active {
          background-color: darken($c-primary-dark, 10%);
          &:after {
            height: 0.3rem;
            top: auto;
            bottom: 0;
          }
        }
        .nav-link {
          line-height: 2.75rem;
        }
      }
    }
  }
}

.btn {
  font-family: $f-futura;
  font-size: 18px;
  i {
    font-size: 16px;
  }
}

.img-tile {
  margin-top: 15px;
}

.tile {
  height: calc(100% - 15px);
  margin-top: 15px;
  padding: 1rem 1.5rem;
  background-color: $c-text-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  @media (max-width: 575px) {
    height: 100%;
    margin-top: 0;
    box-shadow: none;
    &.tile-alt {
      background-color: $color4;
      .highcharts-background {
        fill: lighten($color4, 2%);
      }
    }
  }
}

.page-title {
  font-size: 1.5rem;
  @media (min-width: 576px) {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.rating-stars {
  display: inline-flex;
  width: auto;
  a {
    font-size: 1.6rem;
  }
  &:hover i.fa-star:before {
    content: '\f005';
    font-weight: 900;
  }
  a:hover ~ a i.fa-star:before {
    font-weight: 400;
  }
}

.btn-menu-dots {
  @include btn-reset;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 26px;
  text-align: center;
  border-radius: 50%;
  &:active, &:focus {
    background-color: $color4;
    outline: none;
  }
}

.btn:not(.btn-alt) {
  color: $color1;
  border: 2px solid $color1;
  &:hover {
    color: $color1;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem transparentize(lighten($color2, 20%), .25);
  }
}

.btn-alt {
  color: $c-text-white;
  background-color: $color5;
  &:hover {
    color: $c-text-white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem transparentize(lighten($color5, 20%), .25);
  }
}

.btn-round {
  border-radius: 50%;
  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
  }
}

.form-control {
  border-radius: 0;
  border-color: $color3;
  &:focus {
    box-shadow: 0 0 0 0.2rem transparentize(lighten($color2, 20%), .25);
  }
  &.error {
    border-color: $c-bs-red;
    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize(lighten($c-bs-red, 20%), .25);
    }
  }
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  &.form-check-inline {
    padding-left: 0;
    display: inline-block;
    width: auto;
  }
  [type="radio"]:not(:checked),
  [type="radio"]:checked,
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }
  .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
  }
  .form-check-input[type="radio"]:not(:checked) + label,
  .form-check-input[type="radio"]:checked + label,
  label.btn input[type="radio"]:not(:checked) + label,
  label.btn input[type="radio"]:checked + label,
  .form-check-input[type="checkbox"]:not(:checked) + label,
  .form-check-input[type="checkbox"]:checked + label,
  label.btn input[type="checkbox"]:not(:checked) + label,
  label.btn input[type="checkbox"]:checked + label {
    position: relative;
    display: inline-block;
    height: 1.5625rem;
    padding-left: 1.8rem;
    line-height: 1.5625rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.28s ease;
    transition: all .15s ease-in-out;
  }
  .form-check-label {
    margin-bottom: 0;
  }
  /* radio button */
  .form-check-input[type="radio"] + label:before,
  .form-check-input[type="radio"] + label:after,
  label.btn input[type="radio"] + label:before,
  label.btn input[type="radio"] + label:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 16px;
    height: 16px;
    margin: 4px;
    content: "";
    -webkit-transition: 0.28s ease;
    transition: all .15s ease-in-out;
  }
  .form-check-input[type="radio"]:not(:checked) + label:before,
  .form-check-input[type="radio"]:not(:checked) + label:after,
  .form-check-input[type="radio"]:checked + label:before,
  .form-check-input[type="radio"]:checked + label:after,
  label.btn input[type="radio"]:not(:checked) + label:before,
  label.btn input[type="radio"]:not(:checked) + label:after,
  label.btn input[type="radio"]:checked + label:before,
  label.btn input[type="radio"]:checked + label:after {
    border-radius: 50%;
  }
  .form-check-input[type="radio"]:not(:checked) + label:before,
  .form-check-input[type="radio"]:not(:checked) + label:after,
  label.btn input[type="radio"]:not(:checked) + label:before,
  label.btn input[type="radio"]:not(:checked) + label:after {
    border: 2px solid $c-text-subtle;
  }
  .form-check-input[type="radio"]:not(:checked) + label:after,
  label.btn input[type="radio"]:not(:checked) + label:after {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .form-check-input[type="radio"]:checked + label:before,
  .form-check-input[type="radio"]:checked + label:after,
  label.btn input[type="radio"]:checked + label:before,
  label.btn input[type="radio"]:checked + label:after {
    border: 2px solid $color5;
  }
  .form-check-input[type="radio"]:checked + label:after,
  label.btn input[type="radio"]:checked + label:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  .form-check-input[type="radio"]:checked:focus + label:before,
  label.btn input[type="radio"]:checked:focus + label:before,
  .form-check-input[type="radio"]:checked:focus + label:after,
  label.btn input[type="radio"]:checked:focus + label:after {
    box-shadow: 0 0 0 0.3rem transparentize(lighten($color5, 20%), .50);
  }
  .form-check-input[type="radio"]:checked + label:after,
  label.btn input[type="radio"]:checked + label:after {
    background-color: $color5;
  }

  /* checkbox */
  input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    margin-top: -5px;
    margin-left: -4px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid $c-text-subtle;
    border-radius: 0;
    background-color: $c-text-white;
    z-index: 1000;
    transition: all .15s ease-in-out;
  }
  input[type="checkbox"]:focus + label:after {
    box-shadow: 0 0 0 0.2rem transparentize(lighten($c-text-subtle, 20%), .50);
  }
  input[type="checkbox"]:checked + label:after {
    background-color: $color5;
    border-color: $color5;
  }
  input[type="checkbox"]:checked:focus + label:after {
    box-shadow: 0 0 0 0.2rem transparentize(lighten($color5, 20%), .50);
  }
  input[type="checkbox"]:checked + label:before {
    content: '';
    transform: rotate(45deg);
    position: absolute;
    left: 11px;
    top: 6px;
    width: 4px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-color: $c-text-white;
    z-index: 10000;
    transition: all .15s ease-in-out;
  }
}

.error-text {
  display: block;
  color: $c-bs-red;
  font-size: 0.7rem;
  line-height: 1.3;
}

.chart-wrapper {
  overflow-x: auto;
  div {
    min-width: 600px;
    width: 100%;
    height: 300px;
    @media (min-width: 576px) {
      height: 400px;
    }
  }
}

.form-control[readonly].flatpickr {
  background-color: rgb(255, 255, 255);
}

.flatpickr-calendar {
  font-family: $f-futura;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  .flatpickr-current-month .flatpickr-monthDropdown-months:hover,
  .flatpickr-months .numInputWrapper:hover {
    background: $color4;
  }
  .flatpickr-months .flatpickr-prev-month:hover svg,
  .flatpickr-months .flatpickr-next-month:hover svg {
    fill: $color5;
  }
  .flatpickr-day {
    border-radius: 0;
    &.today {
      border-color: $color2;
    }
    &.today:hover {
      border-color: $color3;
      background-color: $color3;
    }
    &.selected {
      border-color: $color5;
      background-color: $color5;
    }
    &:hover:not(.today):not(.selected) {
      border-color: lighten($color3, 11%);
      background-color: lighten($color3, 11%);
    }
  }
}

.form-control-file {
  outline: none;
}

.form-box {
  padding: .75rem;
  box-shadow: inset 0px 0px 0px 1px $color3;
}

.search-item {
  flex-wrap: wrap;
  img {
    flex: 0 0 100%;
    height: 300px;
    object-fit: cover;
  }
  @media screen and (min-width: 576px) {
    //todo: add styles

  }
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    img {
      flex: 0 0 300px;
      height: 400px;
      object-fit: cover;
    }
    .search-item__about {
      display: block;
      position: relative;
      height: 200px;
      overflow: hidden;
      &:after {
        content: '';
        width: 100%;
        height: 3rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent, $c-text-white);
      }
    }
  }
}

.illustration {
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px;
  }
}

.dialog-list {
  display: block;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  li a {
    display: block;
    width: 100%;
    min-height: 2rem;
    padding: 0.5rem 1.5rem;
    line-height: 2rem;
    border-bottom: 1px solid $color3;
    text-decoration: none;
  }
  li.is-active a {
    color: $color5;
  }
}

.messages-container {
  display: flex;
  height: calc(100vh - 105px);
  flex-direction: column;
  align-items: stretch;

  .messages-header {
    flex: 0 0 auto;
  }
  .messages-block {
    flex: 1 1 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    padding-bottom: 1.5rem;
    ul {
      margin: 0;
      padding: 0;
      max-height: 100%;
      list-style: none;
      overflow-y: auto;
    }
    .message-from span,
    .message-to span {
      display: block;
      max-width: 250px;
      padding: .5rem .75rem;
      border-radius: 1rem;
      margin-bottom: 0.2rem;
    }
    .message-from {
      display: flex;
      justify-content: flex-start;
      span {
        background-color: $color3;
        border-bottom-left-radius: 0;
      }
    }
    .message-to {
      display: flex;
      justify-content: flex-end;
      span {
        background-color: $color2;
        color: $c-text-white;
        border-bottom-right-radius: 0;
      }
    }

  }
  .messages-input {
    flex: 0 0 auto;
    form {
      display: flex;
    }
    textarea {
      resize: none;
    }
    .btn-send {
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      padding-left: .5rem;
      text-align: center;
    }
  }
}