html, body {
  color: $c-text-main !important;
  font-family: $f-noto !important;
  background-color: $color4;
}

a {
  color: lighten($color1, 20%);
  transition: color .2s ease-in-out;
  &:hover {
    color: $color2;
  }
  &:active {
    color: $color5;
  }
  &:visited {
    color: lighten($color1, 20%);
  }
}

button, .btn {
  border-radius: 0;
}

.btn:disabled {
  pointer-events: none;
}