@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-BoldItalic.woff2') format('woff2'),
  url('../fonts/NotoSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans.woff2') format('woff2'),
  url('../fonts/NotoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Italic.woff2') format('woff2'),
  url('../fonts/NotoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Bold.woff2') format('woff2'),
  url('../fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaBookC.woff2') format('woff2'),
  url('../fonts/FuturaBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaMediumC.woff2') format('woff2'),
  url('../fonts/FuturaMediumC.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


