/* Extra space for main navbar */
main {
  margin-top: 56px;
  @media screen and (max-width: 719px){
    margin-top: calc(30px + .625rem);
    margin-bottom: 3.75rem;
  }
}

.btn-row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}