/* Bootstrap */
@import "../../node_modules/bootstrap/scss/bootstrap";

@import 'mixins';
@import 'fonts';
@import 'variables';

@import 'highcharts';

@import 'default';
@import 'components';
@import 'layouts';
@import 'utilites';


/*
body:after {
  content: '!';
  width: 45px;
  height: 45px;
  position: fixed;
  left: 5px;
  bottom: 5px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-color: red;
  border: white 5px solid;
  z-index: 2147483647;
  @media (min-width: 320px) {
    content: 'XS';
    background-color: black;
  }
  @media (min-width: 576px) {
    content: 'S';
  }
  @media (min-width: 768px) {
    content: 'M';
  }
  @media (min-width: 992px) {
    content: 'L';
  }
  @media (min-width: 1200px) {
    content: 'XL';
  }
}*/
