/* background colors */
.bg-primary-dark {
  background-color: $c-primary-dark;
}

/* text colors */
.text-white {
  color: $c-text-white;
}

.text-subtle {
  color: $c-text-subtle;
}

/* positioning, aligning items */
.parent-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.flex-space-between-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-space-between-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* hotfix */
.hidden-x-overflow {
  overflow-x: hidden;
}