/* fonts */
$f-noto: "Noto Sans";
$f-futura: "Futura";

/* main palette */
$color1: #27187e;
$color2: #758bfd;
$color3: #aeb8fe;
$color4: #f1f2f6;
$color5: #ff8600;

$c-primary-dark: $color1;
$c-alternative: $color5;

/* font colors */
$c-text-main: #000000;
$c-text-subtle: #666666;
$c-text-white: #ffffff;

/* bootstrap colors */
$c-bs-red: #dc3545;

/* theme colors */
$body-bg-color: $color4;
$navbar-bg-color: $c-primary-dark;
$tile-bg-color: $c-text-white;
$tile-bg-color-even: $c-text-white;